DJANGO_SECRET_KEY=change-me
DJANGO_DEBUG=1
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost

POSTGRES_DB=diplom_db
POSTGRES_USER=diplom_user
POSTGRES_PASSWORD=diplom_pass
POSTGRES_HOST=localhost
POSTGRES_PORT=5433
