# env / secrets
.env
.env.*
!.env.example

# python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/

# ide
.idea/
.vscode/

# django
*.log
db.sqlite3
media/
staticfiles/

# docker volumes (если вдруг где-то лежит)
diplom_pgdata/
tools/
.coverage
htmlcov/


